*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: work sans;
}

html,body{
    width:100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding:0px 90px;
    padding-top:130px ;
    gap: 70px;
}
#left{
    width: 45%;
    height: 100%;
    padding-bottom: 30px;
    padding-left: 50px;
}
#left h1{
    font-size: 120px;
    line-height: 130px;
    font-weight: 500;
    font-family: work sans italic;
}
#bottom-left{
    height:30%;
    width: 100%;
    /*background-color: yellow;*/
    margin-top: 20%;
}
#color{
    width: fit-content;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 50px;
    margin-bottom: 30px;
}
#color h5{
    font-size: 20px;
    margin-right:10px;
    font-weight: 600;
}
#color1{
   background-color: burlywood;
   height: 20px;
   width: 20px; 
   border-radius: 50%;
   margin-right: 3px;
}
#color2{
    background-color: brown;
    height: 20px;
    width: 20px; 
    border-radius: 50%;
 }
 #detail
{
   /* background-color: aqua;*/
    width:95%;
    height:70%;
    margin-top: 25px; 
    margin-bottom: 11px;
    padding-left: 3px;
}
#detail h2{
    font-size:18px ;
}
#detail p{
    font-size: 18px;
    line-height:24px;
}
#right{
    width: 35%;
    height: 87%;
    /*background-color:rgb(0, 0, 255);*/
    position: relative;
}
#right-top{
    /*background-color: rgb(245, 220, 234);*/
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
#right-top h4{
    font-size: 20px;
    font-family: work sans;
    font-weight: 600;

}
#right-top h5{
    font-size: 15px;
}
#right-top h5 i{
    color: rgb(248, 189, 40);
}
#right img{
    width: 100%;
    height:93%;
    object-fit: cover;
}
#black{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(45, 44, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -13%;
    top: 24%;
}
#black h5{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
#rotated{
    font-weight: 400;
    position: absolute;
    left:-4%;
    bottom: 0%;
    rotate: 270deg;
    transform-origin: 0;
}